.vscode

# For Node.js
js/*/node_modules

# For Python
python/*/.venv

# For Java
java/**/.gradle
java/**/*.jar
java/**/*.class
java/**/*.ctxt
java/**/hs_err_pid*
java/**/gradle-app.setting
java/**/build
java/**/bin/
!gradle-wrapper.jar

# For PHP
php/*/vendor